:root {
  --black: white;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.top-bar {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

.container {
  display: grid;
  gap: 5px;
  grid-template-areas:
    'js result'
    'html result'
    'css result';
  grid-template-columns: minmax(0, 40%) 1fr;
  grid-template-rows: minmax(0, auto) minmax(0, auto) minmax(0, auto);

  height: calc(100vh - 40px);
  width: 100%;
  overflow: hidden;

  .js {
    grid-area: js;
    border: 1px solid #ccc;
  }

  .html {
    grid-area: html;
    border: 1px solid #ccc;
  }

  .css {
    grid-area: css;
    border: 1px solid #ccc;
  }

  .result {
    grid-area: result;
    border: 1px solid #ccc;

    .result-frame {
      background-color: white;
      height: 100%;
      width: 100%;
      border: 0;
    }
  }
}

textarea.editor {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 0;
  appearance: unset;
  resize: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
